<div class="message-confirmation col-12">
  <%= cl_image_tag("https://res.cloudinary.com/dpcd0je1d/image/upload/v1570629209/lisa/message_envoye%CC%81_templett_2676478_2_fi5d2k_1_brxwlp.jpg") %>
</div>
