.savedate img{
  width: 100%;
  height: 100%;
  margin: 0;
}


.confirmation-presence{

  padding:50px;
}


.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #4F4D4D !important;
}

.btn-send{
  background-color: black;
  color:white;
  border-radius: 4px;
  &:hover{
    background-color: white;
    color:black;
    border: solid 2px black;
  }
}

.message-confirmation img{
  width:800px;
  height:100vh;
}

.message-confirmation {
  text-align: center;
}
