
<div class="row scroll text-center">
  <div class="savedate col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <%= cl_image_tag("https://res.cloudinary.com/dpcd0je1d/image/upload/v1574703225/lisa/page_presentation_mariage_bis_ezzske.jpg") %>
  </div>
  <div class="savedate col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

    <%= cl_image_tag("https://res.cloudinary.com/dpcd0je1d/image/upload/v1574704489/lisa/PROGRAMME_MARIAGE_FLEURS_jvzefb.jpg") %>

  </div>
  <div class="savedate col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

    <a href="mailto:hotel@beldicountryclub.com">
      <%= cl_image_tag("https://res.cloudinary.com/dpcd0je1d/image/upload/v1574704649/lisa/hebergements_pr6329.jpg ") %>
    </a>
  </div>
</div>

