<h1>Reservation de l'hôtel</h1>

<div class="cards">
  <% @rooms.each do |room| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= room.name %>
  </div>
  <% end %>

</div>
